<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>User page</title>
  <style>
    .sidebar {
      position: fixed;
      height: 100vh;
      background: #F8F8F8;
    }
  </style>
</head>
<body>

<header class="contaner-fluid bg-dark">
  <div class="d-flex bd-highlight align-items-center">
    <div class="p-2 w-100 bd-highlight text-white">
      <span class="font-weight-bold" th:text="${user.getEmail()}"></span>
      with roles:
      <th:block th:each="role : ${user.roles}">
        <span th:utext="${#strings.substringAfter(role.name, 'ROLE_')}"></span>
      </th:block>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
      <button form="logout" class="fs-5 pe-4 btn btn-dark text-white-50" type="submit">Logout</button>
      <form id="logout" th:method="POST" th:action="@{/logout}"></form>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 p-0 py-3">
      <div class="nav-link bg-primary text-white">User</div>
    </div>
    <div class="col-10 offset-2 sidebar">
      <div class="container-fluid bg-light px-4 py-3">
        <h1>User information-page</h1>
        <div class="card">
          <div class="card-header py-3">
            <div class="h4 m-0">About user</div>
          </div>
          <div class="card-body">
            <table class="table table-striped border-top">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td>
                  <th:block th:each="role : ${user.roles}">
                    <span th:utext="${#strings.substringAfter(role.name, 'ROLE_')}"></span>
                  </th:block>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

